{% extends "demo/layouts/main.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block beforeContent %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}
      <h1 class="govuk-heading-xl">{{ heading }}</h1>
      <p class="govuk-body">Use a fictional document only. You can complete this section without choosing a file.</p>
      {% if selectedFilename %}
        <p class="govuk-body">Selected demonstration file: <strong>{{ selectedFilename }}</strong></p>
      {% endif %}
      <form method="post" action="{{ formAction }}" enctype="multipart/form-data" novalidate>
        {{ govukFileUpload(evidenceFileUpload) }}
        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
