{% extends "demo/layouts/main.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block beforeContent %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}
      <h1 class="govuk-heading-xl">{{ heading }}</h1>
      <p class="govuk-body">Use fictional information only. Do not enter details about a real person or situation.</p>
      <form method="post" action="{{ formAction }}" novalidate>
        {{ govukCheckboxes(supportTypesCheckboxes) }}
        {{ govukCharacterCount(descriptionCharacterCount) }}
        {{ govukTextarea(additionalInformationTextarea) }}
        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
