{% extends "layouts/main.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/business-type" }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}
      <form method="post" action="/full-name" novalidate>
        {{ govukInput(fullNameInput) }}
        <p class="govuk-body app-js-only" aria-live="polite" data-app-name-preview-output></p>
        {{ govukDateInput(dateOfBirthInput) }}
        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
