<!doctype html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }} - GOV.UK Defra example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/public/stylesheets/application.css">
  </head>
  <body class="govuk-template__body">
    <script>document.body.className += ' js-enabled';</script>
    {% include "partials/header.njk" %}
    <div class="govuk-width-container">
      {% block beforeContent %}{% endblock %}
      <main class="govuk-main-wrapper" id="main-content" role="main">
        {% block content %}{% endblock %}
      </main>
    </div>
    {% include "partials/footer.njk" %}
    <script src="/public/javascripts/govuk-frontend.min.js"></script>
    <script src="/public/javascripts/application.js"></script>
  </body>
</html>
